


<link href="~/Content/Site.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row content">
        <div class="col-md-2 sidenav">
            <div class="user-panel">
                <div class="image-left">
                    <img src="~/Images/lili.jpg" class="img-circle">
                </div>
                <div class="image-right">
                    <p>Liliana R.</p>
                    <p>odontologia</p>
                </div>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li><a href="#section1" class="header-li">MENU NAVEGACION</a></li>
                <li><a href="#section1" class="navselect">Home</a></li>
                <li><a href="#section2" class="navselect">Friends</a></li>
                <li><a href="#section3" class="navselect">Family</a></li>
                <li><a href="#section3" class="navselect">Photos</a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>



    </div>
</div>