


<body ng-controller="odontogramCtrl" ng-init="getData()">
    <br />
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                           Odontograma
                        </div>
                        <div class="col-md-1">
                            <a data-toggle="collapse" href="#collapse1" ng-model="open">
                                <span ng-if="open" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-if="!open" class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse" ng-open="open">
                    
                    
                    <div class="panel-body">
                        <br />
                        <br />

                        <span ng-repeat="x in upperTeeth">
                            <my-tooth info="x" test-fn="testFn()"  other-fn="otherFn()">
                            </my-tooth>
                        </span>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <span ng-repeat="x in upperTemporalTeeth">
                                    <my-tooth info="x" test-fn="testFn()">
                                    </my-tooth>
                                </span>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <span ng-repeat="x in lowerTemporalTeeth">
                                    <my-tooth info="x" test-fn="testFn()">
                                    </my-tooth>
                                    </span>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        <br />
                        <br />
                        <span ng-repeat="x in lowerTeeth">
                            <my-tooth info="x" test-fn="testFn()">
                            </my-tooth>
                        </span>
                        <br />
                        <br />

                    </div>
                    
                    
                    <div class="panel-footer">Panel Footer</div>



                </div>
            </div>
        </div>
    </div>



</body>