@{
    ViewBag.Title = "Home Page";
}

@Utils.check_Permissions( "home" )


<body ng-controller="odontogramControllerjs" ng-init="getData()">
        
        @*<div class="container-fluid bg-1 text-center">*@

            @*<img src="~/Images/fondo3.jpg" alt="Bird">*@

           @* <h1> {{data}}</h1>*@
            <br />
            <br />
            <span ng-repeat="x in upperTeeth">
                <my-tooth info="x" test-fn="testFn()">
                </my-tooth>
            </span>
            <br />
            <br />
            <span ng-repeat="x in upperTemporalTeeth" >
                <my-tooth info="x" test-fn="testFn()">
                </my-tooth>
            </span>
            <br />
            <br />
            <span ng-repeat="x in lowerTemporalTeeth" >
                <my-tooth info="x" test-fn="testFn()">
                </my-tooth>
            </span>
                <br />
                <br />
            <span ng-repeat="x in lowerTeeth">
                <my-tooth info="x" test-fn="testFn()">
                </my-tooth>
            </span>




    <svg width="60px" viewBox="0 -2 100 100" version="1.1" id="_tooth_18">
        <title>18</title>
        <g ng-click="getData()" class="tooth_part">
            <title>Cervical</title>
            <path d="M 48,0.5 A 47.5,47.5 0 0 0 14.389,14.48 L 25.696,25.787 A 31.5,31.5 0 0 1 48,16.5 31.5,31.5 0 0 1 70.309,25.785 L 81.613,14.479 A 47.5,47.5 0 0 0 42,0.5 Z" class="tooth_origin_element"></path>
        </g>

        <g class="tooth_part tooth_root tooth_root_lower">
            <title>Cervical</title>
            <path d="M 70.311,70.205 A 31.5,31.5 0 0 1 48,79.5 31.5,31.5 0 0 1 25.686,70.209 L 14.379,81.516 A 47.5,47.5 0 0 0 48,95.5 47.5,47.5 0 0 0 81.617,81.514 L 70.311,70.205 Z" class="tooth_origin_element"></path>
        </g>
        <g class="tooth_part tooth_face tooth_face_lower">
            <title>Palatino</title>
            <path d="M 37.047,58.953 25.74,70.26 A 31.5,31.5 0 0 0 48,79.5 31.5,31.5 0 0 0 70.26,70.26 L 58.953,58.953 A 15.5,15.5 0 0 1 48,63.5 15.5,15.5 0 0 1 37.047,58.953 Z" class="tooth_origin_element"></path>
        </g>
        <g class="tooth_part tooth_face tooth_face_upper">
            <title>Vestibular</title>
            <path d="M 48,16.5 A 31.5,31.5 0 0 0 25.74,25.74 L 37.047,37.047 A 15.5,15.5 0 0 1 48,32.5 15.5,15.5 0 0 1 58.953,37.047 L 70.26,25.74 A 31.5,31.5 0 0 0 48,16.5 Z" class="tooth_origin_element"></path>
        </g>
        <g class="tooth_part tooth_face tooth_face_right">
            <title>Mesial</title>
            <path d="M 70.26,25.74 58.953,37.047 A 15.5,15.5 0 0 1 63.5,48 15.5,15.5 0 0 1 58.953,58.953 L 70.26,70.26 A 31.5,31.5 0 0 0 79.5,48 31.5,31.5 0 0 0 70.26,25.74 Z" class="tooth_origin_element"></path>
        </g>
        <g class="tooth_part tooth_face tooth_face_left">
            <title>Distal</title>
            <path d="M 25.74,25.74 A 31.5,31.5 0 0 0 16.5,48 31.5,31.5 0 0 0 25.74,70.26 L 37.047,58.953 A 15.5,15.5 0 0 1 32.5,48 15.5,15.5 0 0 1 37.047,37.047 L 25.74,25.74 Z" class="tooth_origin_element"></path>
        </g>
        <g class="tooth_part tooth_center">
            <title>Oclusal</title>
            <circle cy="48" cx="48" r="15.5" class="tooth_origin_element"></circle>
        </g>
    </svg>

        @*</div>*@
        

</body>


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@